{% extends 'base.html.twig' %}

{% block title %}Tareas{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        <h1 class="text-center text-primary pt-3">Tareas</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        {{ include('includes/task-list.html.twig') }}
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}